div.store-navbar ul{
    margin-bottom: 50px;
}
div.profile-component h3{
    padding-top: 50px;
    white-space: pre-line;
}

div.profile-component button{
    margin-top: 50px;
    margin-left: 30px;
}

div.profile-component input[type="number"]{
    margin-top: 50px;
    margin-left: 80px;
}

div.buttonInHeader button{
    margin-bottom: 20px;
}

div.card-columns {
    -webkit-column-gap: 50px;
    -webkit-column-count: 4;
}

div.alert.alert-danger{
    margin-top: 10px;
}

input[type="radio"], input[type="checkbox"] {
    line-height: normal;
    margin: 0;
    transform:scale(2);
}

